.card_container {
    background-color: rgb(247, 243, 243);
    display: flex;
    height: 90vh;
    width: 90vw;
    border: none;
    border-radius: 10px;
    margin-top: -20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}